.info-container-dashboard-page {
  width: 470px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #f9b11c;
  box-shadow: 1px 1px 4px #ed693c, -1px -1px 4px #fdc60b;
}

.footer-join-button-container {
  height: 50px;
  margin-top: -25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 575px) {
  .result-of-content-section {
    font-size: 10.6px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .info-container-dashboard-page .footer-join-button-container {
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .info-container-dashboard-page .footer-join-button-container button {
    font-size: 20px;
    padding-block: 15px;
  }

  .result-of-content-section {
    font-size: 17.5px;
  }
}
